<nav class="container">
    <hr>
    <div class="d-sm-flex flex-column-sm justify-content-center text-center">
        <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">welcome</a>
        <a class="nav-link"  [routerLink]="['/about']" routerLinkActive="active">about</a>
        <a class="nav-link"  [routerLink]="['/wine']" routerLinkActive="active">wine list</a>
        <a class="nav-link"  [routerLink]="['/members']" routerLinkActive="active">members</a>
    </div>
    <hr>
</nav>