/*$theme-colors: (
	"primary": #004454,
	"secondary":#53CEF4,
	"danger":#840D1F,
	"warning":#F4C653,
	"success":#80C941,
	"info":#5385F4,
	"dark":#736357
);*/
/*
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;*/

$slammin-salmon: #F7525F;
$dark-red : #720618;
$light-pink : #DDB8AC;
$cherry: #B70F33;
$red: #EF0A3C;

$orange : #E04117;
$dark-orange : #512800;
$light-orange : #fdf3e8;

$yellow : #EFA716;
$dark-yellow : #775105;
$light-yellow : #E5D9BE;

$green : #89C540;
$dark-green : #4F833C;
$light-green : #C7E1A6;

$mint : #1CD37F;
$dark-sage : #448E6E;
$light-sea-green : #8FE5BD;

$cyan : #53CEF4;
$light-cyan : #BBE8F2;
$dark-teal : #004454;

$blue  : #368EBF;
$dark-blue : #0D5075;
$light-blue : #8FC0E2;

$purple : #A54187;
$dark-purple : #490631;
$light-purple : #D1B4CB;

$brown : #998675;
$dark-brown : #736357;
$light-brown : #C7B299;
$latte : #EFE3D5;

$sparkeling: #F7F3EB;
$deep-merlot: #350913;
$chenin-blanc: #E5D9BE;
$chardonnay: #DBBA77;
$rose: #DDB8AC;
$blush: #D6826B;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $dark-red;
$secondary:     $light-pink;
$success:       $green;
$info:          $blue;
$warning:       $yellow;
$danger:        $cherry;
$light:         $sparkeling;
$dark:          $deep-merlot;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "chardonnay": $chardonnay,
  "rose":       $rose,
  "blush":      $blush,
  "chenin-blanc": $chenin-blanc,
  "burgundy":   $dark-red
);
