

.list-group-flush {
    background-color: none;
}

.list-group-item {
    background-color: #FFF0 !important;
}

.wine-list-thumbnail-image {
    max-width: 150pt;
    max-height: 150pt;
    border-radius: 50%;
    border: solid 1pt #3331;
	margin: 6pt; 
	margin-left: 0pt;
	shape-outside: circle(50%);
}

