<div class="container">
    <div class="row m-4">
        <div class="col-md-8">
            <h2>Better Wine</h2>
            <p class="fw-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eos, repellat consequuntur delectus accusantium sequi voluptates minima amet nihil distinctio! Assumenda deleniti voluptas dolorum, suscipit nemo beatae temporibus? Necessitatibus, soluta.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-start mt-4">
                <button role="button" class="btn btn-outline-primary" [routerLink]="['/members']">Join the Club</button>
            </div>
        </div>
    </div>
</div>