<div class="container" *ngIf="!canEdit || isPreviewing">
    <div class="d-flex justify-content-end" *ngIf="canEdit && isPreviewing">
        <button class="btn btn-outline-primary" (click)="togglePreview()">Exit Preview</button>
    </div>
    <h1>{{user?.firstName}} {{user?.lastName}}</h1>
    <div>
        <article>
            <div class="row">
                <div class="col col-md-6">
                    <p>{{user?.shortBio}}</p>
                </div>
                <div class="col col-md-6">
                    <img alt="" class="som-img" [src]="user?.image" />
                </div>
            </div>
            <hr>
            <p style="white-space: pre-line;">{{user?.longBio}}</p>
        </article>
    </div>
</div>
<div class="container" *ngIf="canEdit && user && !isPreviewing">
    <div class="row">
        <div class="d-flex justify-content-between">
            <div>              
            </div>
            <div class="mx-2">
                Roles: 
                <span *ngFor="let role of user.roles">
                    <span class="badge rounded-pill bg-primary mx-2" *ngIf="role">{{role.role || roleUuidToName(role)}}</span>
                </span>
            </div>
            <div>
                <button class="btn btn-outline-primary" (click)="togglePreview()">Preview</button>
            </div>
        </div>
    </div>
    <form #profileForm="ngForm" (ngSubmit)="update(profileForm)" autocomplete="off">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="firstName" class="mb-1">First Name: </label>
                    <input class="form-control" [(ngModel)]="user.firstName" type="text" name="firstName" id="firstName" placeholder="First Name" required="true" />
                </div>
                <div class="form-group">
                    <label for="lastName" class="mb-1">Last Name: </label>
                    <input class="form-control" [(ngModel)]="user.lastName" type="text" name="lastName" id="lastName" placeholder="Last Name" required="true" />
                </div>
                <div class="form-group">
                    <label for="email" class="mb-1">Email: </label>
                    <input class="form-control" [(ngModel)]="user.email" type="email" name="email" id="email" placeholder="Email Address" required="true" />
                </div>
                <div class="form-group">
                    <label for="shortBio" class="mb-1">Short Bio: </label>
                    <textarea class="form-control" [(ngModel)]="user.shortBio" type="shortBio" name="shortBio" id="shortBio" placeholder="A short paragraph about yourself." ></textarea>
                </div>
                <div class="form-group">
                    <label for="longBio" class="mb-1">Long Bio: </label>
                    <textarea class="form-control" [(ngModel)]="user.longBio" type="shortBio" name="longBio" id="longBio" 
                    rows="10" placeholder="A longer entry about yourself and your story with wine." ></textarea>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="m-2 d-flex justify-content-center" *ngIf="user.image">
                    <img alt="" [src]="user.image" width="300" />
                </div>
                <div class="form-group m-2">
                    <label for="profilePhoto" class="mb-1">Profile Photo:</label>
                    <input class="form-control" type="file" id="profilePhoto" (change)="onFileChange($event)"  />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-grid my-2">
                <button type="submit" class="btn btn-primary">Save Profile</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="d-grid my-2">
            <button class="btn btn-outline-primary" (click)="logout()">Logout</button>
        </div>
    </div>
</div>