<div class="container">
    <h2>Users Manager</h2>
    <div>
        <table class="table">
            <thead>
                <th>User</th>
                <th>Email</th>
                <th>Roles</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td class="text-primary">
                        <span class="m-2" *ngFor="let role of roles">
                            <span style="cursor: pointer;" >
                                <i class="bi bi-square" *ngIf="!userHasRole(user, role)" (click)="addRoleToUser(user, role)"></i>
                                <i class="bi bi-check-square-fill" *ngIf="userHasRole(user, role)" (click)="removeRoleFromUser(user, role)"></i>
                            </span>
                            {{role.role}}
                        </span>
                    </td>
                    <td>
                        <a clas="text-secondary text-decoration-none" [routerLink]="['/users', 'profile', user._id]">
                            <i class="bi bi-person-vcard"></i> View Profile
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>