<div class="container">
    
    <div class="row m-4">
        <div class="col-md-6">
            <h2>Join the Club!</h2>
            <p class="text-align-center">Thank you for your interest in joining Vintage Wine Club! Our operations are still getting setup, so check back soon and be among the first to experience our great selection of hight quaily wines from all over the world!</p>
        </div>
        <div class="col-md-6">
            
            <div class="form-floating m-3">
                <label class="form-label" for="name">Name:</label>
                <input type="text" name="name" title="name" class="form-control" disabled/>
            </div>
            <div class="form-floating m-3">
                <label class="form-label" for="email">Email:</label>
                <input type="text" name="email" title="email" class="form-control" disabled/>
            </div>
            <div class="d-grid gap-2 justify-content-md-center m-3">
                <button role="button" class="btn btn-outline-secondary mt-4" disabled>
                    <em>Our waiting list will be available soon.</em>
                </button>
            </div>
        </div>
    </div>
</div>