p {
    display: block;
    white-space: pre-line;
    font-weight: lighter;
    font-size: 14pt;
    line-height: 22pt;
    widows: 3;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}