<footer class="container my-5">
    <hr>
    <div class="d-flex justify-content-between">
        <div>
            &copy; 2023 Vintage Wine Club, LLC.
            <div *ngIf="!user">
                <small>
                    <a class="btn btn-sm text-secondary text-decoration-none" [routerLink]="['/users', 'login']">Login</a>
                </small>
            </div>
            <div *ngIf="user">
                <small>
                    <a class="btn btn-sm text-secondary text-decoration-none" [routerLink]="['/users', 'profile', user._id]">Profile</a>
                </small>
            </div>
        </div>
        <div>
            <small class="fw-lighter">
                <i>Thanks for your business!</i>
            </small>
        </div>
    </div>
</footer>